fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
psycopg2-binary==2.9.10
python-dotenv==1.1.1
pydantic==2.11.7
alembic==1.16.5
geoalchemy2==0.20.0
pgvector==0.4.1
pandas==2.3.2
PyMuPDF
pytesseract
Pillow
opencv-python
pandas
numpy
scikit-learn 
xgboost 
passlib[argon2]==1.7.4
python-jose[cryptography]==3.3.0
email-validator==2.1.0.post1
slowapi==0.1.9
passlib==1.7.4
argon2-cffi==23.1.0